$base-white: #efefef;
$base-gray: hsl(0, 0%, 95%);
$base-black: hsl(0, 0%, 0%);
$dark-gray: lighten($base-black, 0.75);

// Colors Based on the comps:
// 

$base-yellow:  hsl(33, 70%, 83%);
$t-yellow: transparentize($base-yellow, 0.2);

// type colors for the header
$sienna: hsl(356, 96%, 21%);


$o-bgColor--866a74 : #866a74;
$o-bgColor--f2d7b6 : #f2d7b6;
$o-bgColor--f2c36b : #f2c36b;
$o-bgColor--7ebcf2 : #7ebcf2;
$o-bgColor--172e73 : #172e73;
$o-bgColor--a6896f : #a6896f;
$o-bgColor--d55640 : #d55640;
$o-bgColor--48121b : #48121b;
$o-bgColor--0d0d12 : #0d0d12;
$o-bgColor--c85461 : #c85461;
$o-bgColor--fa8277 : #fa8277;
$o-bgColor--6b0209 : #6b0209;
$o-bgColor--040505 : #040505;
$o-bgColor--ffffff : #ffffff;
$o-bgColor--fcf6d8 : #fcf6d8;
$o-fColor--333333 : #333333;
$o-fColor--eeeeee : #eeeeee;
$o-fColor--efefef : #efefef;
$o-fColor--48121b : #48121b;
$o-fColor--ffefd7 : #ffefd7;
$o-fColor--172e73 : #172e73;
$o-fColor--fcf6d8 : #fcf6d8;
$o-fSize--12 : 12px;
$o-fSize--18 : 18px;
$o-fSize--19 : 19px;
$o-fSize--21 : 21px;
$o-fSize--24 : 24px;
$o-fSize--32 : 32px;
$o-fSize--36 : 36px;
$o-fSize--40 : 40px;
$o-fSize--48 : 48px;
$o-fSize--52 : 52px;
$o-fSize--64 : 64px;
$o-fSize--108 : 108px;
$o-fSize--128 : 128px;
$o-fSize--129 : 129px;
$o-fFamily : "Lato","EB Garamond","Open Sans","Georgia","SF Pro Display","SF Pro Text"

