$base-white: #fff;
$base-gray: hsl(0, 0%, 95%);
$base-black: hsl(0, 0%, 0%);
$dark-gray: lighten($base-black, 0.75);

// Colors Based on the comps:
// 

// $base-yellow:  hsl(33, 70%, 83%);
$base-yellow: hsl(50, 86%, 92%);
$t-yellow: transparentize($base-yellow, 0.2);

// type colors for the header and main TOC
$sienna: hsl(356, 96%, 21%);
$rose: hsl(356, 72%, 55%);

// type color for the home page intro / preface text / toc / page block colors
$umber: hsl(350, 60%, 18%);
$pale-sage: hsl(67, 31%, 75%);
$navy-blue:  hsl(225, 67%, 27%);
$taupish: hsl(33, 59%, 86%);
$sky-blue: hsl(208, 85%, 87%);
$golden-rod: hsl(36, 96%, 67%);
$peach: hsl(19, 78%, 86%);
$lava-orange: hsl(15, 93%, 56%);
$caliche: hsl(18, 82%, 36%);
//
// Accessibility
//

$site-focus-ring: $lava-orange;



// $border-colors:
// $umber,
// $pale-sage,
// $navy-blue,
// $taupish,
// $sky-blue,
// $golden-rod,
// $peach,
// $lava-orange;

// @each $color in $border-colors {
//   $color {
//     @include tocBorder($color, var(--s-1)) 
//   }
// }

$site-colors: (
  sienna: $sienna,
  umber: $umber,
  pale-sage: $pale-sage,
  navy-blue: $navy-blue,
  taupish: $taupish,
  sky-blue: $sky-blue,
  golden-rod: $golden-rod,
  peach: $peach,
  lava-orange: $lava-orange
);



@each $site-color-name, $site-color in $site-colors {
  .#{$site-color-name} {
    @include tocBorder($site-color, var(--s-1), solid);
  }
}

//
// Outputs from XD
// TODO: Ditch this list
// $o-bgColor--866a74 : #866a74;
// $o-bgColor--f2d7b6 : #f2d7b6;
// $o-bgColor--f2c36b : #f2c36b;
// $o-bgColor--7ebcf2 : #7ebcf2;
// $o-bgColor--172e73 : #172e73;
// $o-bgColor--a6896f : #a6896f;
// $o-bgColor--d55640 : #d55640;
// $o-bgColor--48121b : #48121b;
// $o-bgColor--0d0d12 : #0d0d12;
// $o-bgColor--c85461 : #c85461;
// $o-bgColor--fa8277 : #fa8277;
// $o-bgColor--6b0209 : #6b0209;
// $o-bgColor--040505 : #040505;
// $o-bgColor--ffffff : #ffffff;
// $o-bgColor--fcf6d8 : #fcf6d8;
// $o-fColor--333333 : #333333;
// $o-fColor--eeeeee : #eeeeee;
// $o-fColor--efefef : #efefef;
// $o-fColor--48121b : #48121b;
// $o-fColor--ffefd7 : #ffefd7;
// $o-fColor--172e73 : #172e73;
// $o-fColor--fcf6d8 : #fcf6d8;
// $o-fSize--12 : 12px;
// $o-fSize--18 : 18px;
// $o-fSize--19 : 19px;
// $o-fSize--21 : 21px;
// $o-fSize--24 : 24px;
// $o-fSize--32 : 32px;
// $o-fSize--36 : 36px;
// $o-fSize--40 : 40px;
// $o-fSize--48 : 48px;
// $o-fSize--52 : 52px;
// $o-fSize--64 : 64px;
// $o-fSize--108 : 108px;
// $o-fSize--128 : 128px;
// $o-fSize--129 : 129px;
// $o-fFamily : "Lato","EB Garamond","Open Sans","Georgia","SF Pro Display","SF Pro Text"

