//
// Handles the page header styles, that is: the 
header {
  > * > * {
      color: $base-white;
    } 
  

  > span {
    display: block;
  }

  > .subtitle {
    padding-top: var(--s1);
    padding-block-start: var(--s1)
  }
}
