//
// Mixins
//

// Grid
@mixin gridColumn($col-1: 10vw, $col-2: minmax(auto, 79vw), $col-3: minmax(var(--s3), 10vw), $col-n...) {
  grid-template-columns: $col-1 $col-2 $col-3;
}

@mixin gridColumnMember($start: 2, $end: 3) {
  grid-column-start: $start;
  grid-column-end: $end;
}

@mixin gridRowMember($start: auto, $end: auto) {
  grid-row: $start / $end;
};

@mixin setBasicGrid($defineRows: auto){
  display: grid;
  @include gridColumn;
  grid-template-rows: $defineRows;
}

//
// No Supporting
//
@mixin noSupport($property, $value...) {
  @supports not ($property: $value) {
    // outline: 1px solid pink;
    @content;
  }
}

@mixin tocBorder(
  $color: null,
  $width: null,
  $style: null
  ) {
    border-left: $width $color $style;
    @suports (border-inline-start: $width $color $style) {
      border-inline-start: $width $color $style;
    }  
}