//
// Nav
//

.primary-nav {
  font-family: $serif;
  flex-direction: initial;
  justify-content: flex-start;
  padding-top: var(--s-3);
  padding-block-start: var(--s1);
  padding-inline-start: var(--s1);

  a {
    color: $sub-heading-sienna;
    padding-inline-end: var(--s1);
  }
}


//
// for nested section  navigations
//  Kludge here, but needs doing 

// specifically for breadcrumb.html
article {
  nav {
    color: $base-black;
    padding-inline-start: initial;
    // &::before {
    //   content: 'up one...';
    //   font-size: var(--s-1);
    // }
    ul {
      display: flex;
    & > * {
      padding-inline-end: var(--s-2);
    }  
    }

    a {
      color: $base-black;
    }
  }
}