//
// Breadcrumb navigation & pager nav found at bottom of pages
//

.breadcrumb,
.pager {
  background-color: $sky-blue;
  clip-path: polygon(0px 5%, 99.07% -1px, 100% 91%, 0.83% 97.37%);
  color: $navy-blue;
  font-size: var(--s0);
  max-width: none;
  
 a {
    color: currentColor;
  }
}
.pager {
  display: flex;
  font-size: var(--s05);
  justify-content: space-between;
  @include noSupport(padding-block-start, var(--s0) ) {
    padding: var(--s0) var(--s2);  
  }

  padding-inline-start: var(--s1);
    padding-inline-end: var(--s1);
    padding-block-start: var(--s0);
    padding-block-end: var(--s0);

  @media screen and (min-width: $medium-screen){
    @include noSupport(padding-block-start, var(--s1) ) {
      padding: var(--s1) var(--s4);  
    }
    padding-inline-start: var(--s4);
    padding-inline-end: var(--s4);
    padding-block-start: var(--s1);
    padding-block-end: var(--s1);
  }
}

.breadcrumb {  
  @include setBasicGrid($defineRows: var(--s3));
  margin-top: calc(var(--s-1) * -1);

  ul {
    @include gridColumnMember;
    place-self: center stretch;

    li:last-child {
      // evident Kludge
      // display: none;
    }

    li:before {
      content: ' > ';
    }

    li:nth-last-child(2):before {
      content: '';
    }
  }
}
