//
// Breadcrumb navigation
//

.breadcrumb {
  font-size: var(--s-1);
  max-width: none;

  li:last-child {
    // evident Kludge
    display: none;
  }

  li:after {
    content: ' > ';
  }

  li:nth-last-child(2):after {
    content: '';
  }
}