//
// footer
//

#bg-img.lazy {
  background-image: none;
  background-color: $base-yellow;
}

#bg-img {
  background-image: url('https://res.cloudinary.com/toupeeproofbullets/image/upload/c_scale,q_10,w_960,f_auto/v1600360322/dcnm/aspens.webp');
}

.site-footer {
  background-color: lighten($color: $navy-blue, $amount: 0.75);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  font-family: $serif;
  font-size: var(--s-1);
  // @include setBasicGrid(var(--s3) minmax(var(--s0), var(--s1)) var(--s3));
  // @include setBasicGrid(var(--s3) repeat(2, 1fr) var(--s3));
  @include gridColumn($col-2: repeat(2, 4fr)); // magic-ish numbers
  overflow: hidden;
  padding-top: var(--s3);
  padding-bottom: var(--s3);
  padding-block-end: var(--s3);
  padding-block-start: var(--s3);
  place-items: center;

  > * {
    @include gridColumnMember;
    color: $navy-blue;
    z-index: 2;
  }
  
  .credits {
    grid-area: 2 / 2 / -2 / 3;
  }

  .sponsors {
    grid-area: 2 / 3 / -2 / -3;
    width: 75%;

    img {
      width: 100%;
    }
  }

  svg {
    fill: $base-white;
    filter: opacity(0.8);
    grid-area: 1 / 1 / -1 / -1;
    // margin: calc(var(--s2) * -1) 0 0 calc(var(--s2) * -1);
    // place-self: center;
    // margin-block-start: calc(var(--s2) * -1);
    // margin-inline-start: calc(var(--s2) * -1);
    transform: scaleY(2) scaleX(1.76) translateY(calc(var(--s0) * 1.25)) ;
    transform-origin: bottom;
    width: 100%;
    z-index: 1;
  }
}

