//
// footer
//

#bg-img.lazy {
  background-image: none;
  background-color: $base-yellow;
}

#bg-img {
  background-image: url('https://res.cloudinary.com/toupeeproofbullets/image/upload/c_scale,q_10,w_960,f_auto/v1600360322/dcnm/aspens.webp');
}

.site-footer {
  @include gridColumn(); // magic-ish numbers
  background-color: lighten($color: $navy-blue, $amount: 0.75);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  font-family: $serif;
  font-size: var(--s-1);
  overflow: hidden;
  padding-top: var(--s3);
  padding-bottom: var(--s3);
  padding-block-end: var(--s3);
  padding-block-start: var(--s3);
  place-items: center;


  > * {
    @include gridColumnMember;
    color: $navy-blue;
    z-index: 2;
  }
  
  div {
    display: flex;
    flex-wrap: wrap;
    grid-area: 1 / 1 / -1 / -1;
    justify-content: center;
    text-align: center;
  }

  .credits {
    @include easyPadMarg($spacer: padding);
  }

  .sponsors {
    @include easyPadMarg($spacer: padding);
    
    img {
      width: 65%;
    }
  }
  
  svg {
    fill: $base-white;
    grid-area: 1 / 1 / -1 / -1;
    transform: scale(2) translateY(calc(var(--s1) * 1.25)) ;
    transform-origin: bottom;
    z-index: 1;
  }
}

