//
// Hero Partial. All things hero for both the home page and the interior pages

%grid-hero {
  background-color: $base-yellow;
  color: $base-black;
  @include setBasicGrid();
  grid-template-rows: 60% 40%;
  margin-top: 0;
  margin-block-start: 0;
  padding: 0;
}

header {

  &.hero {
    @extend %grid-hero;
    background-image: url('https://res.cloudinary.com/toupeeproofbullets/image/upload/t_960_1x/v1598883685/dcnm/IMG_0569.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: clamp(var(--oneQuarter), var(--threeFifths), var(--threeQuarter));
    justify-items: start;
    overflow: hidden;
    
    @media (max-width: $small-screen) {
      // height: var(--threeFifths);
      padding-bottom: 0;
      padding-block-end: 0;
    }

    // Purely Decorative svg styles:
    .hero-svg {
      align-self: stretch;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: 100%;
      max-width: none;
      width: 100vw;
      // filter: opacity(0.5);

      @media screen and (max-width: $small-screen) {
        // filter: opacity(0.5)
      }

      // TODO: do something less generic naming wise here:
      .a {
        fill: transparentize($color: $lava-orange, $amount: 0.5);
      }

      .b {
        fill: transparentize($color: $caliche, $amount: 0.6);
      }

      .c {
        fill: transparentize($color: $peach, $amount: 0.4);
      }
    }

    .title-bg {
      align-self: center;
      fill: $golden-rod;
      filter: opacity(0.65);
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      max-width: 99vw;
      width: 70vw;
      z-index: 1;

      @media screen and (max-width: $wide-screen) {
        width: 90vw;
      }
    }

    .hero-lockup {
      align-self: center;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      padding-right: var(--s1);
      padding-inline-end: var(--s1);
      z-index: 2;
      
      --minFontSize: var(--s1);
      --maxFontSize: var(--s2);
      --scaler: 5vw;

      h1 {
        font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) ); 
        line-height: max(0.8, 1.1);
      }


      > span {
        --scaler: calc(var(--ratio) * 2vw);
        color: $sienna;
        display: block;
        font-size: clamp( var(--s0), var(--scaler), var(--s1) );
        font-weight: 500;
        line-height: max(0.8, 1);
      }

      // &.interior {
      //   @include easyPadMarg($spacer: padding,
      //   $baseVal: var(--s2),
      //   $in-start: 0,
      //   $in-end: 0);
      // }
    }

    > * > * {
      color: $base-black;
    }
  }
}


.interior-page {
  
  .hero {
      background-image: none;
      grid-template-rows: auto;
      height: clamp(150px, var(--oneFifth), var(--s6));
    
      > * a {
        color: $base-black;
      }
      .title-bg {
        grid-area: 1 / 1 / -1 / -1;
      }

      .hero-lockup {
        grid-column: 2 / -2;
        grid-row: 1 / -1;
        align-self: center;
      }

      .hero-svg {
        align-self: center;
        background-color: $rose;
        grid-area: 1 / 1 / -1 / -1;
        max-width: unset;
        width: 100%;
      }
    }
  }
