//
// Handles the page header styles, that is: the
header {
  > * > * {
    color: $base-black;
  }

  > span {
    display: block;
  }

  > .subtitle {
    padding-top: var(--s-1);
    padding-block-start: var(--s-1);
  }
}

//
// Hero redux

// conquistador kids image apsect ratio is 4:3

%base-hero {
  background-color: $base-yellow;
  color: $base-black;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  // width: 100vmin;
}

.home-page {

  .hero {
    @extend %base-hero;
    background: linear-gradient(110deg, transparent 75%, $t-yellow 75% 99%, transparent 72%),
      // linear-gradient(to bottom, transparent, $base-yellow),
      url('https://res.cloudinary.com/toupeeproofbullets/image/upload/v1598883685/dcnm/IMG_0569.jpg');
    background-size: cover;
    min-height: 75vh;
    padding-left: var(--s1);
    padding-top: var(--s1);

    .hero-text {
      // background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDgwIiBoZWlnaHQ9IjIxNyIgdmlld0JveD0iMCAwIDEwODAgMjE3Ij4KICA8cGF0aCBkPSJNMCwwSDEwODAuMDU0bC0zOC4wMjUsMTk0LjExM0wwLDIxNy4wNjJaIiBzdHlsZT0iZmlsbDogI2ZjZjZkODtvcGFjaXR5OiAwLjc2OTk5OTk4MDkyNjUxMzc7aXNvbGF0aW9uOiBpc29sYXRlIi8+Cjwvc3ZnPgo=");
      // background-position: calc(var(--s3) * -1);
      // background-repeat: no-repeat;
      // background-size: cover;
      border-bottom: var(--s5) solid $t-yellow;
      border-left: 0 solid transparent;
      border-right: var(--s2) solid transparent;
      height: 0;
      // width: 100px;
      flex: 1 0 auto;

      > h1 {
        // background-image: linear-gradient(179deg, transparent 75%, $t-yellow 75%);
        // flex: 1 0 auto;
        min-width: 100%;
        // padding: var(--s1) 0 0 var(--s1);

        // &:before {
        //   background-image: linear-gradient(179deg, transparent 75%, $t-yellow 75%);
        //   content: '';
        //   display: block;
        //   height: 100%
        // }
        // &:after {
        //   background-image: linear-gradient(179deg, transparent 75%, $t-yellow 75%);
        //   content: '';
        //   display: block;
        //   height: 100%;
        // }
      }

      > span {
        color: $sienna;
        // flex: 1 0 auto;
        font-size: var(--s1);
        font-weight: 500;
        min-width: 100%;
        // padding-left: var(--s1);
      }

      > nav {
        // flex: 1 0 auto;
        // align-self: flex-end;
        min-width: 100%;
      }
    }
  }
}

.interior-page {
  .hero {
    @extend %base-hero;
    flex-direction: column;
    align-content: initial;
  }
}
