//
// Home Page About 
// The about section found at bottom of Page
//

.about {
  @include setBasicGrid;
  max-width: none;
  padding: var(--s1) 0;
  padding-block-start: var(--s1);
  padding-block-end: var(--s1);

  > * {
    color: $navy-blue;
    @include gridColumnMember;
  }

  > h3 {
    font-family: $serif;
  }

  // > p {

  //   @media screen and (min-width: $medium-screen) {
  //   column-count: 2;
  //   column-gap: var(--s0);
  //   column-width: auto;
  //   max-width: none;
  //   }
  // }
}