//
// Home Page About 
// The about section found at bottom of Page
//

.about {
  display: grid;
  @include gridColumn;
  grid-template-rows: auto;
  padding: var(--s1) 0;
  padding-block-start: var(--s1);
  padding-block-end: var(--s1);

  > * {
    @include gridColumnMember;
  }
}