//
// HP TOC and Poem
// Where the home page TOC List and links are and the poem / dedication (right or below, depending on viewport)
//

.toc-poem {
  // @media screen and (max-width: $medium-screen) {
  //   display: flex;
  //   flex-direction: column;
  // }

  background-color: $t-yellow;
  clip-path: polygon(2px 1.30%, 100% 0px, 100% 100%, 0% 100%);
  @include setBasicGrid;
  grid-template-columns: 10vw repeat(2, 1fr) 10vw;
  max-width: none;
  padding: var(--s3) 0 var(--s1);
  padding-block-start: var(--s3);
  padding-block-end: var(--s1);

  // > .toc-member {
  //   @media screen and (max-width: $medium-screen) {
  //     grid-column: 2 / 3;
  //   }

  //   @include gridColumnMember;
  //   grid-row: auto;
  // }

  h2 {
    font-family: $serif;
    margin: var(--s0) 0;
    margin-block-end: var(--s0);
    margin-block-start: var(--s0);
  }

  * > a {
    color: $sienna;
    font-family: serif;
    // font-size: var(--s1);
  }

  //
  // Home Page <menu> in the TOC at the bottom of the page
  menu {
    @media screen and (max-width: $medium-screen){
      @include gridColumnMember(2 ,4);
    }

    @include gridColumnMember(2, 3);
    justify-content: start;
    padding-left: 0;
    padding-inline-end: 0;

    > .toc-list {
      > ul > li {
        // transform: scale(1);
        // transition: 150ms transform ease-in;
        // padding-left: 2.5vw;
        // padding-inline-end: 2.5vw;
        // padding-top: var(--s1);
        // padding-bottom: var(--s1);
        // @media screen and (min-width: $medium-screen) {
        //   &:hover {
        //     background: $base-yellow;
        //     border-right: 1px solid $base-gray;
        //     border-bottom: 1px solid $base-gray;
        //     box-shadow: 0 0 10px 10px transparentize($sienna, 0.95);
        //     transform: scale(1.125);
        //     transition: 100ms transform ease-out;
        //     z-index: 100;
        //   }  
        // }
        

        h3 {
          font-size: var(--s1);
          line-height: var(--s1);
          padding: var(--s0) 0 0;
          padding-block-start: var(--s0);
        }

        // p {
        //   // padding: var(--s-1) 0 var(--s0);
        //   // padding-block-end: var(--s0);
        //   // padding-block-start: var(--s-1);
        // }
        // Weird one-off, but thats the way it goes...
        // This removes one, count it one h3 from a summary on a TOC...
        // TODO: figure out a way to this at the template level, instead of here...
        .summary {
          h3 {
            display: none;
          }
        }
      }
    }
  }
  //
  // Handles poemas.html
  // TODO: put this into its own partial where appropriate
  aside {
    @media screen and (max-width: $medium-screen){
      @include gridColumnMember(2 ,4);
    }

    @include gridColumnMember(3, 4);
    justify-content: center;
    padding-left: var(--s1);
    padding-inline-start: var(--s1);
  }
}

@keyframes hover-in {
 from {
  // transform: scale(1);
  background-color: $base-yellow;
 }

 to {
  transform: scale(1.2);
  // z-index: 100;
  // transition: 250ms all ease-out;
  background: #fff;
  box-shadow: 2px 2px 10px #ddd;
  border-right: 1px solid $base-gray;
 }
}

@keyframes hover-out {
  
  0% {
    
    // z-index: 100;
    // transition: 250ms all ease-out;
    background: #fff;
    box-shadow: 2px 2px 10px #ddd;
    border-right: 1px solid $base-gray;
  }

  100% {
    transform: scale(1);
    background-color: $base-yellow;
  }
}