//
// Basic rules for interior pages
//

.interior-page {
  
  main {
    @include setBasicGrid;
    
    
    .interior-page-content  {
      @include gridColumnMember;

      ul > li {
        margin: var(--s0) 0;
        margin-block-end: var(--s0);
        margin-block-start: var(--s0);

        &:first-child,
        &:last-child {
          margin: unset;
        }
      }

      h3::before,
      h4::before {
        border-top: var(--s-3) solid $sienna;
        content: ' ';
        display: block;
        width: 10vw;
      }
      h4::before {
        border-color: $caliche;
        border-top-width: var(--s-4);
        width: 5vw;
      }

      .footnotes {
        h4::before {
          border: none;
        }
      }
    }
  }
}