//
// Basic rules for interior pages
//

.interior-page {
  
  main {

    .interior-page-content  {
      @include setBasicGrid();
      // @include gridColumn(
      //   minmax(var(--s-1), 1fr),
      //   minmax(auto, 80vw),
      //   minmax(1vw, 1fr),
      //   );
      max-width: none;

      > * {
        @include gridColumnMember;
      }

      ul > li {
        font-family: $serif;
        margin: var(--s0) 0;
        margin-block-end: var(--s0);
        margin-block-start: var(--s0);

        &:first-child,
        &:last-child {
          margin: unset;
        }
      }

      // TODO: some sass magic here, spitting out the ::before rules in a snazzier fashion...
      // TODO: move these headings to own partial
      h3::before,
      h4::before,
      h5::before,
      H6::before {
        border-top: var(--s-3) solid $sienna;
        content: ' ';
        display: block;
        @include noSupport(margin-block-end, var(--s-1)) {
          margin-bottom: var(--s-1);
        }
        margin-block-end: var(--s-1);
        width: 10vw;
      }
      h4::before,
      h5::before {
        border-color: $caliche;
        border-top-width: var(--s-4);
        width: 5vw;
      }

      h5::before,
      H6::before {
        border-color: $lava-orange;
      }

      .footnotes {
        h4::before {
          border: none;
        }
      }

      // Interior Pages DL's

      dl {
        display: block;
        font-size: clamp(0.875rem, var(--s0), 1.1rem);
        @media screen and (min-width: $medium-screen){
          display: grid;
          grid-template-columns: [left] 1fr [right] 2fr;
          gap: var(--s-1);  

          dt {
            grid-column: left;
          }

          dd {
            // border-bottom: 1px solid $pale-sage;
            grid-column: right;
          }
        }
        
        dd {
          padding-bottom: var(--s-1);
          padding-block-end: var(--s-1);

          ul * {
            font-family: $sans-serif;
          }
        }

        dt {
          @include easyPadMarg($spacer: padding, $baseVal: var(--s-3));
          background-color: $base-gray;
          font-weight: 500;
          margin-bottom: var(--s-1);
        }
      }


      //
      
      // This rule handles the full bleed
      //
      > figure {
        
        @include gridColumnMember(1, -1);
        width: 100%;
        max-width: $wide-screen;

        img {
          background: no-repeat url('../../images/placeHolding.svg');
          background-size: cover;
          height: clamp(10vh, 15vh);
          width: 100%;
        }        
      }

      // This set of rules handles images that should be more inline

      .inline {
        @include easyPadMarg();
        @include easyPadMarg($spacer: padding);
        background-color: $base-gray;
        box-shadow: 0 0 var(--s0) var(--s-2) transparentize($color: $dark-gray, $amount: 0.8);
        float: right;
        width: 50%;
      }

      .fullwidth {
        @include easyPadMarg();
        @include easyPadMarg($spacer: padding);
        align-items: center;
        background-color: $base-gray;
        box-shadow: 0 0 var(--s0) var(--s-2) transparentize($color: $dark-gray,$amount: 0.8);
        display:flex;
        box-sizing: content-box;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--measure);
        text-align: center;
      }
    }
  }
}