//
// Basic rules for interior pages
//

.interior-page {

  main {
    display: block;

    // .interior-page-content.test-layout
    .interior-page-content {
      display: grid;
      @include gridColumn(
        minmax(var(--s-1), 1fr),
        minmax(auto, 79vw),
        minmax(1vw, 1fr));
      max-width: none;

      > * {
        @include gridColumnMember;
      }

      > figure {
        
        @include gridColumnMember(1, -1);
        max-width: 100%;

        img {
          background: no-repeat url('../../images/placeHolding.svg');
          background-size: cover;
          height: clamp(10vh, 15vh);
          width: 100%;
        }

        figcaption {
          @include easyPadMarg;
        }
      }
    }
  }
}