//
// Basic rules for interior pages
//

.interior-page {
  header {
    &.layout-test {
      // background-color: $pale-sage;

      height: unset;
      min-height: unset;
      @include easyPadMarg($spacer: padding,
      $baseVal: var(--s1),
      $in-start: 0,
      $in-end: 0);

      svg {
        display: none;
      }
      .hero-lockup {
        grid-column: 2 / -2;
        grid-row: 1 / -1;
        align-self: unset;

        h1 {
          font-size: clamp(2rem, var(--s0), var(--s2));
          line-height: max(1, 1.2);
        }

        span {
          font-size: var(--s0);
          line-height: var(--s0);
        }
      }

    }
  }

  main {
    display: block;

    // .interior-page-content.test-layout
    .interior-page-content {
      display: grid;
      @include gridColumn(
        minmax(var(--s-1), 1fr),
        minmax(auto, 79vw),
        minmax(1vw, 1fr));
      max-width: none;

      > * {
        @include gridColumnMember;
      }

      > figure {
        
        @include gridColumnMember(1, -1);
        max-width: 100%;

        img {
          background: no-repeat url('../../images/placeHolding.svg');
          background-size: cover;
          height: clamp(10vh, 15vh);
          width: 100%;
        }

        figcaption {
          @include easyPadMarg;
        }
      }
    }
  }
}