{{ define "main" }}
{{ $local := .Site.IsServer }}
{{ if $local }}
{{ printf "<!-- the local development template for pages/section.html -->" | safeHTML }}
{{ else }}
{{ printf "<!-- its all the way live! template for pages/section.html -->" | safeHTML }}
{{ end }}
<main id="main-content" class="[ {{ .Params.Type }} ] [ stack ]">
  <article>
    <nav id="breadcrumb-navigation" aria-label="breadcrumb-navigation">
      {{ partial "breadcrumb.html" . }}
    </nav>
    <h2 id="{{ .Title }}">{{ .Title }}</h2>
    {{ .Content }}
    {{ range .Pages }}
    <ul>
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    </ul>
    {{ end }}
  </article>
  <aside id="meta">
    <div class="topics">
      {{ with .Params.topics }}
      <ul id="topics">
        {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ with .Params.tags }}
      <ul id="tags">
        {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    <div>
      {{ with .PrevInSection }}
      <span>&lt;&lt; Previous &nbsp;</span>
      <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
      {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}}</a><span>&nbsp;Next >></span>
      {{ end }}
    </div>
  </aside>
  <aside class="o-toc">
    {{/* partial "pagination.html" . */}}
    {{/* partial "basic-toc.html" . */}}
    {{ partial "section-tree.html" . }}
  </aside>



</main>
{{ if $local }}
{{ partial "dev.html" . }}
{{ end }}
{{ end }}