{{ $baseStyles := .Site.Params.style }}
<!DOCTYPE html>
<html class="no-js">
{{ block "head" . }}
{{- partial "head.html" . -}}
{{ end }}

<body
  class="[ stack ] {{ if .IsHome }}[ {{ $baseStyles.homepage }} ] {{ else }}[ {{ $baseStyles.interiorpage }} ]{{ end }}">
  {{- block "skip" . -}}
  {{- partial "skipnav" -}}
  {{ end }}
  {{- block "hero" .  -}}
  {{- partial "hero" . -}}
  {{ end }}
  {{- block "main" . }}{{- end }}
  {{ block "footer" . }}
  {{ partial "footer" . }}
  {{ end }}
  {{- block "scripts" . }}
  {{- partial "scripts" . -}}
  {{ end }}
</body>

</html>