{{ define "main" }}
{{ $regPages := .Site.RegularPages }}
{{ $local := .Site.IsServer }}
{{ if $local }}
{{ printf "<!-- the local development template for index.html -->" | safeHTML }}
{{ else }}
{{ printf "<!-- its all the way live! template for index.html -->" | safeHTML }}
{{ end }}

<main class="[ cover ]" id="main-content">
  {{ partial "preface.html" . }}
</main>

<section class="[ stack ][ toc-poem ]">
  {{- partial "toc.html" . -}}
  {{- partial "poemas.html" . -}}
</section>

{{- partial "about.html" . -}}
{{- partial "uteMountainTopo.svg" . -}}
{{/*  {{ if $local }}
{{ partial "dev.html" . }}
{{ end }} */}}
{{ end }}