{{ define "main" }}
{{ $regPages := .Site.RegularPages }}
{{ $local := .Site.IsServer }}
{{ if $local }}
{{ printf "<!-- the local development template for index.html -->" | safeHTML }}
{{ else }}
{{ printf "<!-- its all the way live! template for index.html -->" | safeHTML }}
{{ end }}

<main class="[ cover ]" id="main-content">
  <div class="[ stack ][ homepage-content ]">
    {{- partial "first-paragraph.html" .Content -}}
  </div>
</main>
{{- partial "toc.html" . -}}
{{- partial "about.html" . -}}
{{- partial "uteMountainTopo.svg" . -}}
{{ if $local }}
{{/*  {{ partial "dev.html" . }} */}}
{{ end }}

{{ end }}