{{/*
  dynamic image w/ cloudninary js 
  */}}



{{ $inline := .Get "inline" }}
{{ $display := .Get "display" }}

{{/*  {{ $render := ( or $inline $fullwidth ) }}  */}}
{{ $classToRender := $display }}
{{/* all subsequent $cloudinary variables can be found in the config 
    and should look something like: $cloudinary.base_url. With the prefix of $cloudinary... sarsipius.
  */}}

{{/* 
  The this is the shortcode call in markdown looks:
  {{< dynamicImage
  fileID="v1601912469"
  imageName="MainPageOSH"
  alt="an image from a website"
  caption="The caption"
  inline=true  
  display={@param: fullwidth || inline}
  >}}

variables values provided by the user below:
*/}}


{{ define "caption" }}
    {{- $caption := .Get "caption" -}}
    {{ $inline := .Get "inline" }}
    {{ with $inline }}
      {{ with and ( $caption ) ( ne $caption "" )}}
        <span class="caption">{{ $caption }}</span>
      {{ end }}
    {{ else }}
      {{ with and ( $caption ) ( ne $caption "" )}}
        <figcaption class="caption">{{ $caption }}</figcaption> 
      {{ end }}
    {{ end }}
{{ end }}

{{ define "img" }}
{{ $placeHolder2 := $.Site.Params.placeHolderSVG }}

{{ $cloudinary := $.Site.Params.cloudinary }}

{{- $alt := .Get "alt" -}}

{{- $id := .Get "fileID" -}}

{{- $imageName := .Get "imageName" -}}

{{/* file extension array */}}
{{- $fileExtension := ( slice ".jpg" ".webp" ".png" ) -}}

{{/*  constant  values provided by cdn:  */}}
{{- $cdnURL := $cloudinary.base_url -}}

{{- $autoTransform := "q_auto,w_auto,c_scale,f_auto/" -}}

{{- $cdnFolder := $cloudinary.folder -}}

{{- $fullURL := delimit ( slice $cdnURL $autoTransform $id $cdnFolder $imageName ( index $fileExtension 0 ) ) "" -}}
<img
  src="{{ $placeHolder2 }}"
  data-src="{{ $fullURL }}"
  alt="{{ $alt }}"
  class="{{ $cloudinary.class }}"
  loading="lazy" />
  {{ template "caption" . }}
{{ end }}

{{ if and ( $inline ) ( ne $display "" ) }}
  <span class="{{ $classToRender }}">
    {{ template "img" . }}
  </span>
{{ else }}
  <figure>
  {{ template "img" . }}  
  </figure>
{{ end }}
