{{ define "main" }}
{{ if .Site.IsServer }}
{{ printf "<!-- the local development template for chapters/list.html   -->" | safeHTML }}
{{ else }}
{{ printf "<!-- its all the way live! -->" | safeHTML }}
{{ end }}
<main>
  <article>
    <header>
      <h1>{{ .Title }}</h1>
    </header>
  </article>
  <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages.ByWeight }}
    <li>
      <a href="{{.Permalink}}" data-time-stamp="{{.Date.Format "2006-01-02"}}">{{.Title}}</a>
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}