{{ define "main" }}
{{ $local := .Site.IsServer }}
{{ if $local }}
{{ printf "<!-- the local development template for chapters/section.html -->" | safeHTML }}
{{ else }}
{{ printf "<!-- its all the way live! template for chapters/section.html -->" | safeHTML }}
{{ end }}
<main class="stack">
  <article>
    <nav id="breadcrumb-navigation" aria-label="breadcrumb-navigation">
      {{ partial "breadcrumb.html" . }}
    </nav>
    <h2 id="{{ .Title }}">{{ .Title }}</h2>
    {{ partial "first-paragraph.html" .Content }}
    <nav>
      {{ with .PrevInSection }}
      <span>&lt;&lt; Previous &nbsp;</span>
      <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
      {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}}</a><span>&nbsp;Next >></span>
      {{ end }}
    </nav>
  </article>
  <aside class="o-toc">
    {{/* partial "pagination.html" . */}}
    {{/* partial "basic-toc.html" . */}}
    {{ partial "section-tree.html" . }}
  </aside>
</main>
{{ if $local }}
{{ partial "dev.html" . }}
{{ end }}
{{ end }}