{{ define "main" }}
{{ $local := .Site.IsServer }}
{{ if $local }}
{{ printf "<!-- the local development template for chapters/single.html   -->" | safeHTML }}
{{ else }}
{{ printf "<!-- its all the way live! -->" | safeHTML }}
{{ end }}
<main id="main-content" class="[ {{ .Params.Type }} ] [ stack ]">
  <article>
    <nav id="breadcrumb-navigation" aria-label="breadcrumb-navigation">
      {{ partial "breadcrumb.html" . }}
    </nav>
    <h2 id="{{ .Title }}">{{ .Title }}</h2>
    {{ .Content }}
  </article>
  <aside>
    <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }}</h4>
    <h5 id="wordcount">Number of Words {{ .WordCount }}</h5>
  </aside>
  <aside id="meta">
    <div>
      {{ with .Params.topics }}
      <ul id="topics">
        {{ range . }}
        <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
      {{ with .Params.tags }}
      <ul id="tags">
        {{ range . }}
        <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
    <div>
      {{ with .PrevInSection }}
      <span>Previous</span>
      <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
      {{ end }}
      {{ with .NextInSection }}
      <a class="next" href="{{.Permalink}}"> {{.Title}}</a><span>Next</span>
      {{ end }}
    </div>
  </aside>
</main>
{{ if $local }}
{{ partial "dev.html" . }}
{{ end }}



{{ end }}