{{ define "main" }}

{{ if .Site.IsServer }}
{{ printf "<!-- the local development template for chapters/single.html   -->" | safeHTML }}
{{ else }}
{{ printf "<!-- its all the way live! -->" | safeHTML }}
{{ end }}
<section id="main-content" class="{{ .Params.Type }}">
  <h2 id="title">{{ .Title }}</h2>
  <article id="content">
    {{ .Content }}
  </article>
  {{ if .Site.IsServer }}

  some local stuff

  {{ end }}
  <!-- check for published: -->

  <footer class="">
    <h3></h3>
    {{ $local := .Site.IsServer }}
    {{ if $local }}
    <br><b>Here are the .Page.Resources:</b>
    <br>and here is the dot
    {{ end }}
  </footer>

  <!-- /check for published  -->


</section>
<aside id="meta">
  <div>
    <section>
      <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
      <h5 id="wordcount"> {{ .WordCount }} Words </h5>
    </section>
    {{ with .Params.topics }}
    <ul id="topics">
      {{ range . }}
      <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .Params.tags }}
    <ul id="tags">
      {{ range . }}
      <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <div>
    {{ with .PrevInSection }}
    <span>Previous</span>
    <a class="previous" href="{{.Permalink}}"> {{.Title}}</a>
    {{ end }}
    {{ with .NextInSection }}
    <a class="next" href="{{.Permalink}}"> {{.Title}}</a><span>Next</span>
    {{ end }}
  </div>
</aside>

{{ end }}