{{ define "main" }}
{{ $local := .Site.IsServer }}
{{ if $local }}
{{ printf "<!-- the local development template for chapters/section.html -->" | safeHTML }}
{{ else }}
{{ printf "<!-- its all the way live! template for chapters/section.html -->" | safeHTML }}
{{ end }}
<nav id="breadcrumb-navigation" aria-label="breadcrumb-navigation">
  {{ partial "breadcrumb.html" . }}
</nav>
<main id="main-content" class="[ {{ .Params.Type }} ]">
  <article class="[ stack ][ interior-page-content ]">

    <h2 id="{{ .Title }}">{{ .Title }}</h2>
    {{ partial "first-paragraph.html" .Content }}
    <ul class="contents section-default-template">
      {{ range .Paginator.Pages }}
      <li><a href="{{ .Permalink }}">{{.Title}}</a>
        <div class="summary">
          {{ .Summary }}
        </div>
      </li>
      {{ end }}
    </ul>
    <nav>
      {{ with .PrevInSection }}
      <span>&lt;&lt; Previous &nbsp;</span>
      <a class="previous" href="{{ .Permalink }}"> {{.Title}}</a>
      {{ end }}
      {{ with .NextInSection }}
      <a class="next" href="{{ .Permalink }}"> {{.Title}}</a><span>&nbsp;Next >></span>
      {{ end }}
    </nav>
  </article>
</main>

{{- partial "toc.html" . -}}
{{ if $local }}
{{ partial "dev.html" . }}
{{ end }}
{{ end }}