//
// Imports
//
@import 'vendor/reset.min.scss';
@import 'partial/scaleRules';
@import 'partial/mixins';
@import 'partial/color';
@import 'partial/overrides';
@import 'partial/typography';
@import 'partial/compose/center';
@import 'partial/block/hero';
@import 'partial/block/hpTOC';
@import 'partial/block/hpAbout';
@import 'partial/breadcrumb';
@import 'partial/block/nav';
@import 'partial/block/main';
@import 'partial/footer';
@import 'partial/exception/hpContent';
@import 'partial/exception/skipNav';
@import 'partial/exception/dropCaps';


* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}


body {
  background-color: $base-white;
  color: $base-black;
  
//
// Shared & Global Blocks
//

  > header,
  > footer
  {
    background-color: $dark-gray;
    color: $base-white;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  & > * {
    margin-top: 0; // switch to logical properties here...
    margin-bottom: 0;
    }

  & > * + * {
    @supports not (margin-block-start: var(--s1)) {
      margin-bottom: var(--s1);
      margin-top: var(--s1);
      }
      margin-block-start: var(--s1);
    }

      p {
        font-family: $serif;
      }

      dl {
        display: grid;
        grid-template-columns: [left] 1fr [right] 2fr;
        gap: var(--s-1);

        dt {
          grid-column: left;
        }

        dd {
          grid-column: right;

          ul * {
            font-family: $sans-serif;
          }
        }
      }

      // @include noSupport(padding-inline, 1px) {
      //   //border: 1px dotted pink;
      //   padding-left: var(--s1);
      //   padding-right: var(--s1);
      // }
  }

@include noSupport(margin-block) {
  margin-top: var(--s1)
}
