//
// Imports
//
@import 'vendor/reset.min.scss';
@import 'partial/scaleRules';
@import 'partial/mixins';
@import 'partial/color';
@import 'partial/overrides';
@import 'partial/typography';
@import 'partial/compose/center';
@import 'partial/compose/stack';
@import 'partial/block/hero';
@import 'partial/block/hpTOC';
@import 'partial/block/hpAbout';
@import 'partial/block/breadcrumb';
@import 'partial/block/nav';
@import 'partial/block/main';
@import 'partial/block/interiorPage';
@import 'partial/block/footnotes';
@import 'partial/block/footer';
@import 'partial/exception/hpContent';
@import 'partial/exception/skipNav';
@import 'partial/exception/dropCaps';
@import 'partial/exception/interiorTOC';
@import 'partial/exception/poems';
@import 'partial/exception/smallHeadings';
@import 'partial/exception/inlineList';


* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}


body {
  background-color: $base-white;
  color: $base-black;
  
//
// Shared & Global Blocks
//

  > header,
  > footer
  {
    background-color: $dark-gray;
    color: $base-white;
  }
}



@include noSupport(margin-block) {
  margin-top: var(--s1)
}
