//
// Imports
//
@import 'vendor/reset.min.scss';
@import 'partial/overrides';
@import 'partial/typography';
@import 'partial/color';
@import 'partial/header';
@import 'partial/breadcrumb';
@import 'partial/nav';
@import 'partial/footer';
@import 'partial/mixins';

:root {
  
}

* {
  max-width: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

//
// Skip nav
//
.skip {
  margin: 0;
  padding: 0;

  a {
    background-color: #FFFFFF;
    color: $base-black;
    display: block;
    font-size: var(--s0);
    font-weight: 400;
    height: 1px;
    left: -10000px;
    line-height: var(--s0);
    margin: 5px;
    padding: 5px 10px;
    position: absolute;
    top: auto;
    width: 1px;
    z-index: 1000;
  
    &:focus {
      left: 0;
      height: initial;
      position: absolute;
      width: initial;
      top: 0;
    }
  }
  
}

body {
  background-color: $base-white;
  color: $base-black;
  
//
// Shared & Global Blocks
//

> header,
> main,
> footer {
  padding: var(--s1);
}

> header,
> footer
 {
  background-color: $dark-gray;
  color: $base-white;
}

// 
//  Home page
//

  & > .homepage {
    & nav {
      // background-color: $base-gray;
    }
  }

  h1 {
    font-size: var(--s2);
    line-height: var(--s2);
  }

  h2 {
    font-weight: 400;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: var(--s3);

  & > * {
    margin-top: 0; // switch to logical properties here...
    margin-bottom: 0;
    }

  & > * + * {
    @supports not (margin-block-start: var(--s1)) {
      margin-bottom: var(--s1);
      margin-top: var(--s1);
      }
      margin-block-start: var(--s1);
    }
    
    // section {

    // }

      article {
        font-family: $serif;
      }

      @include noSupport(padding-inline, 1px) {
        border: 1px dotted pink;
        padding-left: var(--s3);
        padding-right: var(--s3);
      }
  }

@include noSupport(margin-block) {
  margin-top: var(--s1)
}
