//
// styles the poems on the home page only.
// Layout is controlled by the parent at _hpTOC.scss

.poems {
  color: $caliche;

  blockquote {
    padding: unset;

    p {
      font-size: var(--s1);
      font-style: normal;
      font-weight: 100;
      line-height: var(--s2);
    }
  }

  blockquote + p {
    font-size: var(--s0);
    font-weight: 900;
    margin: unset;
  }
}