@mixin card-hover {
  background: $base-white;
  border-right: 1px solid $base-gray;
  border-bottom: 1px solid $base-gray;
  box-shadow: 0 0 10px 10px transparentize($sienna, 0.95);
  transform: scale(1.125);
  transition: 100ms transform ease-out;
  z-index: 100;
}

.card {
  transform: scale(1);
  transition: 150ms transform ease-in;
  padding-left: 2.5vw;
  padding-inline-end: 2.5vw;
  position: relative;

  &:focus {
    outline: 2px solid $sienna;
  }

  &:focus-within {
   @include card-hover;
  }

  @media screen and (min-width: $medium-screen) {
    &:hover {
      @include card-hover;
    }  
  }

  &-body {
    position: relative;

    .summary {
      > h3 {
        display: none;
      }

      > p {
        position: relative;
    }
  }
    
    &:last-child {
      margin-bottom: var(--s1)
    }
  }
  
  
  h3 {
    font-size: var(--s1);
    line-height: var(--s1);
    padding: var(--s0) 0 0;
    padding-block-start: var(--s0);
  }

  a::after {
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  &:hover {
    // put the drop shadow rules here
  }
}

@keyframes hover-in {
  from {
   // transform: scale(1);
   background-color: $base-yellow;
  }
 
  to {
   transform: scale(1.2);
   // z-index: 100;
   // transition: 250ms all ease-out;
   background: #fff;
   box-shadow: 2px 2px 10px #ddd;
   border-right: 1px solid $base-gray;
  }
 }
 
 @keyframes hover-out {
   
   0% {
     background: #fff;
     box-shadow: 2px 2px 10px #ddd;
     border-right: 1px solid $base-gray;
   }
 
   100% {
     transform: scale(1);
     background-color: $base-yellow;
   }
 }