<style>
  .dev {
    background-color: lightgreen;
    margin-block-start: var(--s1);
    max-width: none;
    padding: var(--s0);
  }

  .dev>p,
  .dev>dl {
    border-block-end: 2px solid limegreen;
  }

  .debugger>* {
    outline: red 1px dotted;
  }
</style>
<aside class="[ dev stack ]">
  <h4>Variables & Useful Development info:</h4>
  <p>This Page or Section Title: <b>{{ .Title }}</b></p>
  <p><b>Here are the .Page.Resources:</b></p>
  {{ $resources := .Resources }}
  {{ range $elem_index, $elem_val := $resources }}
  <dl>
    <dt><b>{{ $elem_index }}</b></dt>
    <dd>{{ $elem_val }}</dd>
  </dl>
  {{ end }}
  <p>The dot for this page or section: <b>{{ . }}</b></p>
  <p>Current Section type & path: <b>{{ .CurrentSection }}</b></p>
  <p>Number of child descendant sections to this one: <b>{{ .Sections }}</b></p>

  <p><b>.Site.Params:</b></p>
  {{ $siteParams := .Site.Params }}
  {{ range $elem_index, $elem_val := $siteParams }}
  <dl>
    <dt><b>{{ $elem_index }}</b></dt>
    <dd>{{ $elem_val }}</dd>
  </dl>
  {{ end }}

  <p><b>Page Params:</b></p>
  {{ $params := .Page.Params }}
  {{ range $elem_index, $elem_val := $params }}
  <dl>
    <dt><b>{{ $elem_index }}</b></dt>
    <dd>{{ $elem_val }}</dd>
  </dl>
  {{ end }}

  <h4>Range through .RegularPagesRecursive</h4>
  {{ $regRecurs := .RegularPagesRecursive }}
  {{ range $regRecurs }}
  <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
  {{ end }}
  <ul>All the regular pages and only first-level section pages under the current list page:
    {{ range .Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }} (Type: {{ .Type }})</a></li>
    {{ end }}
  </ul>
  <ul>All the pages:
    {{ range .Site.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}
        <ul>
          <li>Type: {{ .Type }}</li>
          <li>Kind: {{ .Kind }}</li>
          {{ if .IsSection }}
          <li>Section: {{ .IsSection }}</li>
          {{ .Sections }}
          {{ end }}
        </ul>
      </a></li>
    {{ end }}
  </ul>
</aside>