<aside id="meta" class="[ stack ][ coda ]">
  <section>
    <p id="date">Last Modification: {{ .Date.Format "Mon Jan 2, 2006" }} </p>
    <p id="wordcount"> {{ .WordCount }} Words </p>
  </section>
  {{ .Params.topics }}
  {{ with .Params.topics }}
  <ul id="topics">
    {{ range . }}
    <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
  </ul>
  {{ end }}
  {{ with .Params.tags }}
  <ul id="tags">
    {{ range . }}
    <li> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
  </ul>
  {{ end }}
</aside>