{{ $images := .Params.images }}

{{ $cloudinaryCore := "https://unpkg.com/cloudinary-core@2.11.3/cloudinary-core-shrinkwrap.js"}}

{{ $observer := resources.Get "js/observer.js" }}

{{ $main := resources.Get "js/main.js" }}

{{ $importWatchedBox := resources.Get "js/imports.js" }}

{{ $opts := dict "targetPath" "js/index.js" "target" "es2016" "minify" false }}

{{ $built := resources.Get $main | js.Build $opts }}

{{ if .Site.IsServer }}
{{ $script := slice $main | resources.Concat "js/index.js" }}

{{ if $images }}
<script src="{{ $cloudinaryCore }}" type="text/javascript"></script>

<script type="text/javascript">
  let cl = cloudinary.Cloudinary.new();
  cl.config("cloud_name", "toupeeproofbullets");

  let tr = cloudinary.Transformation.new();
  tr.crop("scale").width('auto');
  // Responsive Images via Cloudinary:

  cl.responsive();

  const tag = cl.url("v1600360322/dcnm/aspens.jpg", { tr });
</script>

{{ end }}
<script src="{{ $built.Permalink }}" type="module"></script>
{{ else }}
{{ if $images }}
<script src="{{ $cloudinaryCore }}" type="text/javascript"></script>
<script type="text/javascript">
  const cl = cloudinary.Cloudinary.new({ cloud_name: "toupeeproofbullets" });
  // Responsive Images via Cloudinary:
  cl.responsive();
</script>
{{ end }}
{{ $script := slice $main | resources.Concat "js/index.js" | fingerprint }}
<script src="{{ $built.Permalink }}"></script>
{{ end }}