{{ $images := .Params.images }}
<!-- // Dont forget that the markdown file needs to have this param set to: true -->
{{ $cloudinaryCore := "https://unpkg.com/cloudinary-core@2.11.3/cloudinary-core-shrinkwrap.min.js"}}

{{ $ccCore := resources.Get $cloudinaryCore }}

{{ $observer := resources.Get "js/observer.js" }}

{{ $main := resources.Get "js/main.js" }}


{{ $opts := dict "targetPath" "js/index.min.js" "target" "es2016" "minify" true }}

{{ $built := resources.Get $main | js.Build $opts }}

{{ if .Site.IsServer }}

{{/* $script := slice $main | resources.Concat "js/index.js"  */}}

{{ if $images }}

<script src="{{ $cloudinaryCore }}" type="text/javascript"></script>

<script type="text/javascript">
  let cl = cloudinary.Cloudinary.new();
  cl.config("cloud_name", "toupeeproofbullets");
  cl.responsive();
</script>

{{ end }}

<script src="{{ $built.Permalink }}" type="module"></script>

{{ else }}

{{ $script := slice $main | resources.Concat "js/index.js" | fingerprint }}

{{ if $images }}
<script src="{{ $cloudinaryCore }}" type="text/javascript"></script>
<script type="text/javascript">
  const cl = cloudinary.Cloudinary.new({ cloud_name: "toupeeproofbullets" });
  // Responsive Images via Cloudinary:
  cl.responsive();
</script>
{{ end }}


<script src="{{ $built.Permalink }}"></script>

{{ end }}