<menu class="[ stack ]">
  <ul class="[ toc-list ]">
    <li>The Context &amp; Framework
      <ul>
        <li>Time
          <ul>
            <li>Historical Events</li>
            <li>Contemporary Events</li>
          </ul>
        </li>
        <li>People
          <ul>
            <li>Identity</li>
          </ul>
        </li>
        <li>Place
          <ul>
            <li>Monuments</li>
          </ul>
        </li>
        <li>Story
          <ul>
            <li>Language: Words that Wound</li>
            <li>The Shadow of Symbols</li>
            <li>Narrative Famework</li>
          </ul>
        </li>
      </ul>

    </li>
    <li>Charting the Path Toward Truth & Reconciliation
      <ul>
        <li>Making the Case</li>
        <li>A Comparative Analysis</li>
        <li>Charting A Path Forward &mdash; Recommendations &amp; Strategies</li>
      </ul>
    </li>
    <li>Conclusion</li>
  </ul>
</menu>